---
- name: 'Install required packages'
  yum:
    name: 
      - git 
      - gcc
      - gcc-c++
      - make
      - openssl-devel
      - libyaml-devel
      - readline-devel
      - zlib-devel
      - libxml2-devel
      - libxslt-devel
      - sqlite-devel
      - libffi-devel
      - glib2-devel
      - pkgconfig
      - gobject-introspection-devel
      - glib2-static
      - expat-devel
      - ImageMagick-devel
      - libjpeg-turbo-devel
      - libpng-devel
      - libwebp-devel
      - libtiff-devel
      - cairo-devel
      - pango-devel
      - tree 
    state: present
  become: yes

- name: 'Check if the application directory exists'
  stat:
    path: "{{ app_dir }}"
  register: app_dir_stat

- name: 'Clone the repository'
  git:
    repo: 'https://github.com/yuta-ushijima/raisetech-live8-sample-app.git'
    dest: "{{ app_dir }}"
  when: not app_dir_stat.stat.exists