[defaults]
host_key_checking = False
interpreter_python = /usr/bin/python2.7
command_warnings = False
timeout = 60 
log_path = .ansible/log/ansible.log
forks = 10
inventory = .ansible/inventory
remote_user = ec2-user
private_key_file = /home/ec2-user/.ssh/id_rsa

[ssh_connection]
ssh_args = -o ControlMaster=auto \
           -o ControlPersist=120s \
           -o StrictHostKeyChecking=no \
           -o UserKnownHostsFile=/dev/null