[defaults]
inventory = /home/ec2-user/lec13_CircleCI/.ansible/hosts
host_key_checking = False
interpreter_python = /usr/bin/python2.7
command_warnings = False
timeout = 60 
log_path = /home/ec2-user/lec13_CircleCI/.ansible/log/ansible.log
forks = 10

[ssh_connection]
ssh_args = -o ControlMaster=auto \
           -o ControlPersist=120s \
           -o StrictHostKeyChecking=no \
           -o UserKnownHostsFile=/dev/null