[defaults]
host_key_checking = False
gathering = smart
interpreter_python = /usr/bin/python3  # Python 3を使用
command_warnings = False
timeout = 60 
log_path = /home/circleci/project/.ansible/log/ansible.log
forks = 10
inventory = /home/circleci/project/.ansible/inventory
remote_user = ec2-user
private_key_file = /home/circleci/.ssh/id_rsa  # SSHキーのパスを確認

[ssh_connection]
ssh_args = -o ControlMaster=auto \
           -o ControlPersist=120s \
           -o StrictHostKeyChecking=no \
           -o UserKnownHostsFile=/dev/null
